name: Build

on:
  push:
    branches:
    - main
    tags:
    - v*
  pull_request:
    branches:
    - main

jobs:
  build:
    name: "Build, test & package"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0  # Important for minver to create the right version number
        filter: tree:0

    - uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Install tools
      run: dotnet tool restore

    - name: Restore
      run: dotnet restore

    - name: Format
      run: dotnet dotnet-format --verify-no-changes

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test test/Dfe.Analytics.AspNetCore.Tests/ --configuration Release --no-build

    - name: Package
      run: dotnet pack src/Dfe.Analytics/ --configuration Release --no-build

    - name: Publish package artifact
      uses: actions/upload-artifact@v4
      with:
        name: Dfe.Analytics.nupkg
        path: |
          src/Dfe.Analytics/bin/Release/*.nupkg
          src/Dfe.Analytics/bin/Release/*.snupkg
        if-no-files-found: error
